flows3.json
[{"id":"bfd342cc.a9ddb","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"20d66f5.6b1919","type":"inject","z":"bfd342cc.a9ddb","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":100,"wires":[["b335ee8f.819c3"]]},{"id":"b335ee8f.819c3","type":"function","z":"bfd342cc.a9ddb","name":"Payload","func":"msg.headers=\n{deviceKey:\"v0reosjbgpJhg9gL\"\n    \n};\nmsg.payload=\"Temperature,,25.3\";\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":160,"wires":[["6889c1a4.2b497"]]},{"id":"6889c1a4.2b497","type":"http request","z":"bfd342cc.a9ddb","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/D60rg0uT/datapoints.csv","tls":"","persist":false,"proxy":"","authType":"","x":340,"y":320,"wires":[["6e25ac9.8cb6154","b5c8b027.99d56"]]},{"id":"6e25ac9.8cb6154","type":"http response","z":"bfd342cc.a9ddb","name":"","statusCode":"","headers":{},"x":390,"y":240,"wires":[]},{"id":"b5c8b027.99d56","type":"debug","z":"bfd342cc.a9ddb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":380,"wires":[]}]