flows2.json
[{"id":"d6f60c63.a111b","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"dce65ae2.53e968","type":"inject","z":"d6f60c63.a111b","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"5","x":90,"y":240,"wires":[["5af8a114.732e8"]]},{"id":"5af8a114.732e8","type":"function","z":"d6f60c63.a111b","name":"payload","func":"msg.headers={deviceKey:\"v0reosjbgpJhg9gL\"\n    \n};\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":260,"wires":[["53157bf2.395654"]]},{"id":"53157bf2.395654","type":"http request","z":"d6f60c63.a111b","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/D60rg0uT/datachannels/LEDconrtol/datapoints.csv","tls":"","persist":false,"proxy":"","authType":"","x":280,"y":380,"wires":[["c95afd3a.3172c","a2847dd1.0aa9f"]]},{"id":"c95afd3a.3172c","type":"debug","z":"d6f60c63.a111b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":380,"y":440,"wires":[]},{"id":"a2847dd1.0aa9f","type":"http response","z":"d6f60c63.a111b","name":"","statusCode":"","headers":{},"x":430,"y":340,"wires":[]}]