flows5.json
[{"id":"2209579e.0d8a18","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"2668a571.df803a","type":"http in","z":"2209579e.0d8a18","name":"","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":60,"y":160,"wires":[["f70396d9.9fcd68"]]},{"id":"14a32051.bc24f","type":"rpi-gpio in","z":"2209579e.0d8a18","name":"","pin":"7","intype":"up","debounce":"25","read":true,"x":70,"y":300,"wires":[["f1f755f7.fc2ed8"]]},{"id":"f1f755f7.fc2ed8","type":"function","z":"2209579e.0d8a18","name":"Set GPIO","func":"global.set(\"GPIO\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":320,"wires":[["11e02031.4ad2d"]]},{"id":"f70396d9.9fcd68","type":"function","z":"2209579e.0d8a18","name":"Get GPIO","func":"msg.payload = global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":160,"wires":[["11e02031.4ad2d","58be46a6.ae2048"]]},{"id":"11e02031.4ad2d","type":"debug","z":"2209579e.0d8a18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":420,"y":300,"wires":[]},{"id":"58be46a6.ae2048","type":"http response","z":"2209579e.0d8a18","name":"","statusCode":"","headers":{},"x":430,"y":160,"wires":[]}]